
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- for Facebook -->
    <meta property="fb:admins" content="100001600788363 100008639347214" />
    <meta property="fb:pages" content="1713294038903642" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wakul.com.au/" />
    <meta property="og:title" content="Wakul App" />
    <meta property="og:image" content="https://wakul.com.au/images/wakulapp_iphone.jpg" />
    <meta property="og:description" content="An interactive app for Indigenous news." />

    <!-- for Google -->
    <meta name="description" content="An interactive app for Indigenous news." />
    <meta name="keywords" content="indigenous, digital, first nations, aboriginal, torres strait islander, news, journalism, community, social, media, public" />
    <meta name="copyright" content="The University of Melbourne" />
    <meta name="application-name" content="Wakul App" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wakulapp" />
    <meta name="twitter:creator" content="@wakulapp" />
    <meta name="twitter:title" content="Wakul App" />
    <meta name="twitter:description" content="An interactive app for Indigenous news." />
    <meta name="twitter:image" content="https://wakul.com.au/images/wakulapp_iphone.jpg" />
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'news/wakul.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'news/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'news/colors.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'news/misc.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static 'news/print.css' %}" 
    />
    <script type="text/javascript" src="{% static 'news/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'news/jquery.elevatezoom.js' %}"></script>
    
