{% load el_pagination_tags %}
{% load static %}

{% lazy_paginate entries %}
{% for entry in entries %}
                <div class="tweet">
                    <a href="{{ entry.url_user }}" class="user_img fade"><img src="{{ entry.user_img }}"></a>
                    <div class="wrapper">
                        <div class="user">
                            <a href="{{ entry.url_user }}" class="user_name">{{ entry.user_name }}</a> <a href="{{ entry.url_user }}" class="screen_name">@{{ entry.screen_name }}</a> &middot; <a href="{{ entry.url }}" class="pubdate">{{ entry.pub_date|date:"M j" }}</a>
                        </div>
                        <div class="text">
                            <a href="{{ entry.url }}">{{ entry.text }}</a>
                        </div>
                    </div>
                </div>
{% endfor %}
{% show_more %}
